.home_wrap{
    width: 1200px;
    margin: 0 auto;
}
.home_header{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
}
.home_container{
    width: 100%;
    margin-top:3em ;
}
.flex_wrap{
    display: flex;
}
.second_mt{
    margin-top: 3em;
}
.flex_compo{
    flex: 0.8;
    padding-left: 3em;
}
.model_head{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.7em;
}
.model_content{
    line-height: 1.7em;
    font-size: 1.1em;
}